
.h1{
	text-align:center;
	color: white;
	font-size: 50px;
}
#pro{
	font-size: 30px;
	color: white;
	text-align: center;
}
.img1{
    
   height: 300px;
   width: 441.6px;

}
.back1{

	background-color: black;
}
div{
	width: 100%;
	background-color: black;
}

.font{

	font-size: 18px;

}
.blue{

	color: off white;
}
.right{
	display: inline-block;
	margin-left: 1000px;
	color: white;
	text-decoration: none;
	font-size: 25px;
	margin-top: 15px;

}
.rightt{
	text-decoration: none; 
	margin-left: 30px; 
	color: white; 
	font-size: 25px;
}

.about{
	text-align: center;
}

.margin{

	margin-left: 585px;
	display: inline-block;
	text-decoration: none;
}
.marginn{
  margin-left: 5px;
  display: inline-block;
  text-decoration: none;
}


.prog{

	margin-left: 400px;
}
